{% extends 'forum/base.html'%}
{% block content%}
<div class="container">
    <br>
    <br>
    <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 card">
            <div class ="card-body">
    <h2>Registration</h2>


    <form  action ="" method = "post" enctype="multipart/form-data">
    <fieldset>
    <legend>Enter some data</legend>
        {% csrf_token %}
        {% include 'forum/form_template.html'%}
                <button type = "submit" class ="btn btn-success">Save</button>
    </fieldset>
    </form>
            </div>
        </div>
    </div>


</div>



{% endblock %}