{% extends 'forum/base.html' %}

{% block title %}{{theme.theme_title}}{% endblock %}

{% block content %}

    <div class="container">
        <h1>Syndic workshop forum</h1>
        <div class ="row">
            <div class = "col-md-3">
                <div class="card mb-3">
                  <h3 class="card-header">{{theme.theme_title}}</h3>
                  <div class="card-body">

                  </div>
                  <img style="height: 100%; width: 100%; display: block;" src="{{theme.theme_image}}" alt="Card image">
                  <div class="card-body">
                    <p class="card-text">{{theme.theme_def}}</p>
                  </div>
                  <div class="card-footer text-muted">
                    created by {{theme.creator}}

                  </div>
                </div>
            </div>
            <div class = "col-md-9">
                <h3>Сообщения</h3>
                {% if error_message %}
                <p><strong>{{error_message}}</strong></p>
                {%endif%}
                {% for message in theme.message_set.all%}
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">{{message.author}}</h4>
                          {% if message.answer_to != "none"%}
                            <h6 class="card-subtitle mb-2 text-muted">{{message.answer_to}}</h6>
                          {% endif %}
                        <p class="card-text">{{message.message_text}}</p>
                      </div>
                    </div>
                <br>
                {% endfor %}
<br>
                <div class="card">
                      <div class="card-body">
                        <form  action ="" method = "post" enctype="multipart/form-data">
                            <fieldset>
                            <legend>Ваше сообщение</legend>
                                {% csrf_token %}
                                {% include 'forum/form_template.html'%}



                                        <button type = "submit" class ="btn btn-success">Отправить</button>
                            </fieldset>
                            </form>
                      </div>
                    </div>
<br>


            </div>
        </div>
    </div>

{% endblock %}
