{% extends 'forum/base.html' %} {% block title %}Конструктор{% endblock %} {% block heading %}

<head>
	<title>Syndicate constructor</title>
	<meta charset="utf-8"> {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'constructor/Syndicate.min.css' %}">
	<script type="text/javascript" src="{% static 'constructor/b4w.simple.min.js' %}"></script>
</head>
{% endblock %} {% block content %}
<div id="controls-container">
	<!--div class="button-container">
			<div class="delete-container button data-button">
				<div id="delete"></div>
			</div>
			<div id="load-1" class="button data-button"></div>
			<div id="load-2" class="button data-button"></div>
			<div id="ready" class="button data-button"></div>
		</div-->
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-6">

			<div class="card bg-light">
				<div class="card-header">Параметры</div>

				<div class="card-body">
					<div id="cardbox">
					</div>
					<div>
						<button id="delete" type="button" class="btn btn-outline-danger ">Удалить деталь</button>
						<div class="btn-group" role="group">
							<button id="btnGroupDrop2" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Добавить деталь</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
								<a class="dropdown-item" id="load-1" href="#">КАРМАН</a>
								<a class="dropdown-item" id="load-2" href="#">ПУГОВКА</a>
							</div>

						</div>
						<!--button id="load-1" type="button" class="btn btn-outline-info btn-block">Карман</button>
					<button id="load-2" type="button" class="btn btn-outline-info btn-block">Пуговка</button-->
						<form id="post_info">
							{% csrf_token %}
							<button id="ready" type="submit" class="btn btn-outline-success">Готово</button>
						</form>

						<!--button id="ready" type="button" class="btn btn-outline-success">Готово</button-->
					</div>
				</div>
			</div>

		</div>
		<div class="col-6">






		</div>
	</div>
</div>
<div id="main_canvas_container"></div>

<script>
	b4w.register("Syndicate_main", function(B, b) {



		function C(a, e) {
			e ? q.load("{% static 'constructor/assets/Syndicate.json' %}", D, null) : console.log("b4w init failure")
		}

		function D(a) {
			E();
			F();
			p.enable_camera_controls();
			//a = document.createElement("div");
			//a.className = "main_sliders_container";
			//a.setAttribute("id", "main_sliders_container");
			//var cardbox = document.getElementById("cardbox");
			//cardbox.appendChild(a);
			p.enable_camera_controls(!1, !1, !1, null, !0);
			g("chest_id", 60, 150);
			g("height_id",
				40, 150);
			g("neck_id", 20, 50);
			g("sleeves_id", 5, 100);
			g("shoulder_id", 15, 80)
		}

		function x(a) {
			a = h.get_all_objects("ALL", a);
			for (var e = 0; e < a.length; e++) {
				var c = a[e];
				if (u.has_physics(c)) {
					u.enable_simulation(c);
					var f = k.create_collision_sensor(c, "Details"),
						d = k.create_selection_sensor(c, !0);
					c == r && k.set_custom_sensor(d, 1);
					k.create_sensor_manifold(c, "COLLISION", k.CT_CONTINUOUS, [f, d], G,
						H);
					(f = v.get_parent(c)) && v.is_armature(f) ? m.set_translation_v(f, y) : m.set_translation_v(c, y)
				}
				v.is_mesh(c) && h.show_object(c)
			}
		}

		function G(a) {
			return a[1]
		}

		function H(a, e, c) {
			1 == c && (k.get_sensor_value(a, e, 0) ? h.set_outline_color(I) : h.set_outline_color(J))
		}

		function F() {
			document.getElementById("controls-container").style.display = "block";
			K();
			console.log("Init_controls");
			document.getElementById("load-1").addEventListener("click", function(a) {
				q.load("{% static 'constructor/assets/Pocket.json' %}", x, null, null, !0)
			});
			document.getElementById("load-2").addEventListener("click",
				function(a) {
					q.load("{% static 'constructor/assets/Button.json' %}", x, null, null, !0)
				});

			$("#post_info").on('submit', function(e) {
				e.preventDefault();

				console.log("Function works")

				a = h.get_all_objects("MESH");
				for (var e, c, f = [], d = 0; d < a.length; d++) e = h.get_object_name(a[d]), c = m.get_tsr(a[d]), c = JSON.stringify(c), f.push({
					name: e,
					tsr: c
				});
				/*console.log(JSON.stringify({
					chest: "50",
					height: "10",
					neck: "1",
					sleeve: "2",
					shoulder: "3",
					details: f
				}));*/
				save_answer_link = "{% url 'constructor:builder' %}";

				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				var csrftoken = getCookie('csrftoken');

				function csrfSafeMethod(method) {
					// these HTTP methods do not require CSRF protection
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				/*$.ajaxSetup({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				});*/
				
				var chest = document.getElementById("chest_id").textContent;
				var neck = document.getElementById("neck_id").textContent;
				var height =document.getElementById("height_id").textContent;
				var sleeves = document.getElementById("sleeves_id").textContent;
				var shoulder = document.getElementById("shoulder_id").textContent;

				
				
				console.log(chest,neck,height,sleeves,shoulder);
				
				
				$.ajax({
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					},
					type: 'POST',
					url: save_answer_link,
					data: JSON.stringify({
						chest: chest,
						height: height,
						neck: neck,
						sleeve: sleeves,
						shoulder: shoulder,						
						details: f//список с деталями
						 }),
					
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(){
						console.log("Работает");
					},
					error: function(){
						console.log("Не работает");
					}
					

					

				});

			});
			/*document.getElementById("ready").addEventListener("click", function(a) {
				a = h.get_all_objects("MESH");
				for (var e, c, f = [], d = 0; d < a.length; d++) e = h.get_object_name(a[d]), c = m.get_tsr(a[d]), c = JSON.stringify(c), f.push({
					name: e,
					tsr: c
				});
				/*console.log(JSON.stringify({
					chest: "50",
					height: "10",
					neck: "1",
					sleeve: "2",
					shoulder: "3",
					details: f
				}))
				save_answer_link = "{% url 'constructor:builder' %}";
				console.log(save_answer_link);
				
				
				$.post({					
					url: save_answer_link,
					data: JSON.stringify({
						chest: "50",
						height: "10",
						neck: "1",
						sleeve: "2",
						shoulder: "3",
						details: f,
						
					}),
					contentType:"application/json; charset=utf-8",
					dataType: "json",
					'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
					success: function(data)
					{
						console.log(data);
					}

				});
			});*/

			document.getElementById("delete").addEventListener("click", function(a) {
				r && (a = h.get_object_data_id(r), q.unload(a), r = null)
			})
		}

		function K() {
			for (var a = ["delete"], e = 0; e < a.length; e++) {
				var c = a[e];
				document.getElementById(c).addEventListener("mousedown", function(a) {
					a.target.parentNode.classList.add("active")
				});
				document.getElementById(c).addEventListener("mouseup", function(a) {
					a.target.parentNode.classList.remove("active")
				});
				document.getElementById(c).addEventListener("touchstart", function(a) {
					a.target.parentNode.classList.add("active")
				});
				document.getElementById(c).addEventListener("touchend", function(a) {
					a.target.parentNode.classList.remove("active")
				})
			}
		}



		function E() {
			var a = new Float32Array(3),
				e = w.create_pline(),
				c = new Float32Array(3),
				f = l.create(),
				d = l.create(),
				b = z.create(),
				k = function(a, c, e, h, g, k) {
					l.set_trans(g, f);
					z.rotationTo(L.AXIS_Z, k, b);
					m.set_rotation_v(n, b);
					l.set_quat(b, f);
					e && M.is_animated(e) && (m.get_tsr(e, d), l.invert(d, d), l.multiply(d, f, f), a = l.get_trans_view(f), c = l.get_quat_view(f), N.append_stiff(n, e, a, c));
					m.set_tsr(n, f)
				},
				g = O.get_container();
			g.addEventListener("mousedown", function(a) {
				(n = h.pick_object(a.clientX, a.clientY)) && p.disable_camera_controls()
			}, !1);
			g.addEventListener("mouseup", function(a) {
				n = null
			}, !1);
			g.addEventListener("mousemove", function(b) {
				if (n) {
					var d = b.clientX;
					b = b.clientY;
					p.enable_camera_controls();
					P.calc_ray(h.get_active_camera(), d, b, e);
					w.get_pline_directional_vec(e, c);
					Q.scale(c, 100, c);
					d = h.get_active_camera();
					u.append_ray_test_ext(d, a, c, "ANY", k, !0, !1, !0, !0)
				}
			}, !1)
		}

		function g(a, b, c) {
			function e(a) {
				g.textContent = d.value
			}
			var d = R(a),
				g = document.getElementById(a);
			d.min = b;
			d.max = c;
			d.step = 1;
			d.value = b;
			g.textContent = d.value;
			!window.ActiveXObject &&
				"ActiveXObject" in window ? d.onchange = e : d.oninput = e
		}

		function R(a) {
			var b = document.createElement("div");
			b.className = "slider_container";
			var c = document.createElement("label");
			//c.className = "text_label";
			c.textContent = a;
			var f = document.createElement("input");
			f.className = "input_slider";
			f.setAttribute("type", "range");
			var d = document.createElement("label");
			//d.className = "value_label";
			d.setAttribute("id", a);
			b.appendChild(c);
			b.appendChild(f);
			b.appendChild(d);
			document.getElementById("cardbox").appendChild(b);
			return f
		}
		var M = b("animation"),
			N = b("constraints"),
			z = b("quat"),
			Q = b("vec3"),
			P = b("camera"),
			k = b("controls"),
			w = b("math"),
			v = b("objects"),
			u = b("physics"),
			S = b("version"),
			p = b("app"),
			T = b("config"),
			q = b("data");
		b("preloader");
		b("version");
		b("mouse");
		var h = b("scenes"),
			m = b("transform"),
			O = b("container"),
			l = b("tsr"),
			L = b("util");
		b("geometry");
		var r = null,
			J = [0, 1, 0],
			I = [1, 0, 0];
		new Float32Array(2);
		var y = new Float32Array(3);
		new Float32Array(3);
		new Float32Array(3);
		new Float32Array(3);
		new Float32Array(4);
		T.set("physics_uranium_path", "{% static 'constructor/uranium/' %}");
		w.create_pline();
		var n =
			null,
			A = "DEBUG" === S.type(),
			t = T.get_assets_path("Syndicate");
		B.init = function() {
			p.init({
				autoresize: !0,
				callback: C,
				canvas_container_id: "main_canvas_container",
				physics_enabled: !0,
				show_fps: !0,
				assets_dds_available: !A,
				assets_min50_available: !A,
				console_verbose: !0
			})
		}
	});
	b4w.require("Syndicate_main").init();

</script>

{% endblock %}
